p {
  color: red;
  font-size: 2rem;
}
div {
  color: brown;
  font-size: 2rem;
}
#first {
  color: blue !important;
}
.second {
  color: purple;
  font-size: 2 rem;
}
#dateid {
  color: red;
}
.name {
}
